In [1]:
import pandas as pd
import numpy as np

In [122]:
order_list = pd.read_excel('Supply chain logisitcs problem.xlsx', sheet_name='OrderList')
freight_rates = pd.read_excel('Supply chain logisitcs problem.xlsx', sheet_name='FreightRates')
wh_costs = pd.read_excel('Supply chain logisitcs problem.xlsx', sheet_name='WhCosts')
wh_capacities = pd.read_excel('Supply chain logisitcs problem.xlsx', sheet_name='WhCapacities')
products_per_plant = pd.read_excel('Supply chain logisitcs problem.xlsx', sheet_name='ProductsPerPlant')
vmi_customers = pd.read_excel('Supply chain logisitcs problem.xlsx', sheet_name='VmiCustomers')
plant_ports = pd.read_excel('Supply chain logisitcs problem.xlsx', sheet_name='PlantPorts')

In [47]:
print("\n**************************Order list*****************************************")
print(order_list.describe().T)
print("\n****************************Freight Rates***************************************")
print(freight_rates.describe().T)
print("\n**************************Wh Costs*****************************************")
print(wh_costs.describe().T)
print("\n**************************Wh Capacities*****************************************")
print(wh_capacities.describe().T)
print("\n**************************Products Per Plant*****************************************")
print(products_per_plant.describe().T)
print("\n***************************Vmi Customers****************************************")
print(vmi_customers.describe().T)
print("\n*****************************Plant Ports**************************************")
print(plant_ports.describe().T)
print("*******************************************************************")

**************************Order list*****************************************
                       count                 mean                  min  \
Order ID              9215.0    1447273698.881769         1447125805.7
Order Date              9215  2013-05-26 00:00:00  2013-05-26 00:00:00
TPT                   9215.0             1.717743                  0.0
Ship ahead day count  9215.0             1.852306                  0.0
Ship Late Day count   9215.0             0.039935                  0.0
Product ID            9215.0       1680536.058709            1613321.0
Unit quantity         9215.0          3202.747151                235.0
Weight                9215.0            19.871688                  0.0

                                      25%                  50%  \
Order ID                     1447196681.2         1447275684.7
Order Date            2013-05-26 00:00:00  2013-05-26 00:00:00
TPT                                   1.0                  2.0
Ship ahead day count                  0.0                  3.0
Ship Late Day count                   0.0                  0.0
Product ID                      1669702.0            1683636.0
Unit quantity                       330.0                477.0
Weight                            1.40743                 4.44

                                      75%                  max           std
Order ID                     1447346498.7         1447425230.7   83816.29279
Order Date            2013-05-26 00:00:00  2013-05-26 00:00:00           NaN
TPT                                   2.0                  4.0        0.6305
Ship ahead day count                  3.0                  6.0      1.922302
Ship Late Day count                   0.0                  6.0      0.319625
Product ID                      1689554.0            1702654.0  15265.927778
Unit quantity                      1275.5             561847.0   15965.62226
Weight                          13.325673          2338.405126     66.569064

****************************Freight Rates***************************************
               count         mean           std       min      25%      50%  \
minm_wgh_qty  1540.0   155.886637    475.952049  0.000000  15.0100  41.0100
max_wgh_qty   1540.0  4636.143633  20251.309727  0.453592  21.5000  47.5000
minimum cost  1540.0    12.329033     22.946192  1.202000   3.6568   7.4170
rate          1540.0     2.892656      4.603877  0.033200   0.4704   1.6612
tpt_day_cnt   1540.0     2.186364      2.000895  0.000000   1.0000   2.0000

                    75%         max
minm_wgh_qty  67.229614  10000.0000
max_wgh_qty   99.990000  99999.9900
minimum cost  11.494500    425.0272
rate           3.932200    128.0272
tpt_day_cnt    2.000000     14.0000

**************************Wh Costs*****************************************
           count    mean       std       min       25%       50%       75%  \
Cost/unit   19.0  0.7241  0.495091  0.371424  0.473605  0.522857  0.637046

                max
Cost/unit  2.036254

**************************Wh Capacities*****************************************
                 count        mean        std  min   25%    50%    75%     max
Daily Capacity    19.0  304.789474  323.51328  7.0  31.5  209.0  473.5  1070.0

**************************Products Per Plant*****************************************
             count          mean           std        min        25%  \
Product ID  2036.0  1.684180e+06  13148.043792  1613321.0  1680697.0

                  50%         75%        max
Product ID  1685269.5  1692998.75  1702654.0

***************************Vmi Customers****************************************
           count unique        top freq
Plant Code    14      4    PLANT02    7
Customers     14     10  V55555_10    3

*****************************Plant Ports**************************************
           count unique      top freq
Plant Code    22     19  PLANT01    2
Port          22     11   PORT04    7
*******************************************************************

In [123]:
# Count unique items in each column for each sheet and check for missing value

# since the order date is the same, let us drop the column
order_list.drop(columns='Order Date', axis=1, inplace=True)

dataframes = {
    "OrderList": orderList,
    "FreightRates": freight_rates,
    "WarehouseCosts": wh_costs,
    "WarehouseCapacities": wh_capacities,
    "ProductsPerPlant": products_per_plant,
    "VMICustomers": vmi_customers,
    "PlantPorts": plant_ports
}

for name, df in dataframes.items():
    print(f"\n{name}")
    print(df.astype('object').describe(include='all').loc['unique', :])
    print(f"\n{name} - Missing Values:")
    print(df.isnull().sum())

print("*******************************************")
print("             Summary Statistics            ")
print("*******************************************")


# Summarize key statistics for categorical columns
for name, df in dataframes.items():
    if not df.select_dtypes(include=['object']).empty:
        print(f"{name} - Statistics for Categorical Data:")
        print(df.select_dtypes(include=['object']).describe())
        print("\n")

OrderList
Order ID                9215.0
Order Date                   1
Origin Port                  3
Carrier                      3
TPT                          5
Service Level                3
Ship ahead day count         5
Ship Late Day count          4
Customer                    46
Product ID                 772
Plant Code                   7
Destination Port             1
Unit quantity             2624
Weight                  5899.0
Name: unique, dtype: object

OrderList - Missing Values:
Order ID                0
Order Date              0
Origin Port             0
Carrier                 0
TPT                     0
Service Level           0
Ship ahead day count    0
Ship Late Day count     0
Customer                0
Product ID              0
Plant Code              0
Destination Port        0
Unit quantity           0
Weight                  0
dtype: int64

FreightRates
Carrier              9
orig_port_cd        10
dest_port_cd         1
minm_wgh_qty     328.0
max_wgh_qty      327.0
svc_cd               2
minimum cost     787.0
rate            1029.0
mode_dsc             2
tpt_day_cnt          8
Carrier type         2
Name: unique, dtype: object

FreightRates - Missing Values:
Carrier         0
orig_port_cd    0
dest_port_cd    0
minm_wgh_qty    0
max_wgh_qty     0
svc_cd          0
minimum cost    0
rate            0
mode_dsc        0
tpt_day_cnt     0
Carrier type    0
dtype: int64

WarehouseCosts
WH             19
Cost/unit    19.0
Name: unique, dtype: object

WarehouseCosts - Missing Values:
WH           0
Cost/unit    0
dtype: int64

WarehouseCapacities
Plant ID           19
Daily Capacity     18
Name: unique, dtype: object

WarehouseCapacities - Missing Values:
Plant ID           0
Daily Capacity     0
dtype: int64

ProductsPerPlant
Plant Code      19
Product ID    1540
Name: unique, dtype: object

ProductsPerPlant - Missing Values:
Plant Code    0
Product ID    0
dtype: int64

VMICustomers
Plant Code     4
Customers     10
Name: unique, dtype: object

VMICustomers - Missing Values:
Plant Code    0
Customers     0
dtype: int64

PlantPorts
Plant Code    19
Port          11
Name: unique, dtype: object

PlantPorts - Missing Values:
Plant Code    0
Port          0
dtype: int64
*******************************************
             Summary Statistics
*******************************************
OrderList - Statistics for Categorical Data:
       Origin Port Carrier Service Level           Customer Plant Code  \
count         9215    9215          9215               9215       9215
unique           3       3             3                 46          7
top         PORT04  V444_0           DTP  V55555555555555_8    PLANT03
freq          9041    6264          6218                976       8541

       Destination Port
count              9215
unique                1
top              PORT09
freq               9215


FreightRates - Statistics for Categorical Data:
       Carrier orig_port_cd dest_port_cd svc_cd mode_dsc  Carrier type
count     1540         1540         1540   1540     1540          1540
unique       9           10            1      2        2             2
top     V444_4       PORT06       PORT09    DTD   AIR     V888888883_1
freq       906          479         1540   1322     1511          1198


WarehouseCosts - Statistics for Categorical Data:
             WH
count        19
unique       19
top     PLANT15
freq          1


WarehouseCapacities - Statistics for Categorical Data:
       Plant ID
count        19
unique       19
top     PLANT15
freq          1


ProductsPerPlant - Statistics for Categorical Data:
       Plant Code
count        2036
unique         19
top       PLANT03
freq          781


VMICustomers - Statistics for Categorical Data:
       Plant Code  Customers
count          14         14
unique          4         10
top       PLANT02  V55555_10
freq            7          3


PlantPorts - Statistics for Categorical Data:
       Plant Code    Port
count          22      22
unique         19      11
top       PLANT01  PORT04
freq            2       7

In [124]:
# print column names of each data to see whether columns are repeated or need renaming before merging
for name, df in dataframes.items():
    print(f"\n{name} - Columns:")
    print(df.columns)

OrderList - Columns:
Index(['Order ID', 'Order Date', 'Origin Port', 'Carrier', 'TPT',
       'Service Level', 'Ship ahead day count', 'Ship Late Day count',
       'Customer', 'Product ID', 'Plant Code', 'Destination Port',
       'Unit quantity', 'Weight'],
      dtype='object')

FreightRates - Columns:
Index(['Carrier', 'orig_port_cd', 'dest_port_cd', 'minm_wgh_qty',
       'max_wgh_qty', 'svc_cd', 'minimum cost', 'rate', 'mode_dsc',
       'tpt_day_cnt', 'Carrier type'],
      dtype='object')

WarehouseCosts - Columns:
Index(['WH', 'Cost/unit'], dtype='object')

WarehouseCapacities - Columns:
Index(['Plant ID', 'Daily Capacity '], dtype='object')

ProductsPerPlant - Columns:
Index(['Plant Code', 'Product ID'], dtype='object')

VMICustomers - Columns:
Index(['Plant Code', 'Customers'], dtype='object')

PlantPorts - Columns:
Index(['Plant Code', 'Port'], dtype='object')

In [125]:
# Rename columns so they can be the same across the sheets

freight_rates.rename({'orig_port_cd': 'Origin Port', 'dest_port_cd': 'Destination Port', 'tpt_day_cnt': 'TPT'  }, axis=1, inplace=True)
wh_costs.rename({'WH': 'Plant Code'}, axis=1, inplace=True)
wh_capacities.rename({'Plant ID': 'Plant Code'}, axis=1, inplace=True)

In [126]:
# Merge plant data based on the plant code

from functools import reduce
dframes = [wh_costs, wh_capacities, products_per_plant, vmi_customers.reset_index(drop=True), plant_ports]
merged_plants_data = reduce(lambda  left,right: pd.merge(left,right,on=['Plant Code']), dframes)
merged_plants_data

,Plant Code,Cost/unit,Daily Capacity,Product ID,Customers,Port
0,PLANT02,0.477504,138,1656889,V5555555555555_16,PORT03
1,PLANT02,0.477504,138,1656889,V555555555555555_29,PORT03
2,PLANT02,0.477504,138,1656889,V555555555_3,PORT03
3,PLANT02,0.477504,138,1656889,V55555555555555_8,PORT03
4,PLANT02,0.477504,138,1656889,V55555555_9,PORT03
...,...,...,...,...,...,...
1923,PLANT11,0.555247,332,1690627,V5555555555555555555_54,PORT04
1924,PLANT11,0.555247,332,1690628,V5555555555555555555_54,PORT04
1925,PLANT11,0.555247,332,1690630,V5555555555555555555_54,PORT04
1926,PLANT11,0.555247,332,1690634,V5555555555555555555_54,PORT04
1927,PLANT11,0.555247,332,1691546,V5555555555555555555_54,PORT04

In [130]:
#Merge order and freight data

order_freight_rates = pd.concat((order_list,freight_rates))
print(order_freight_rates.isna().sum())
order_freight_rates.fillna("N/A")

Order ID                1540
Origin Port                0
Carrier                    0
TPT                        0
Service Level           1540
Ship ahead day count    1540
Ship Late Day count     1540
Customer                1540
Product ID              1540
Plant Code              1540
Destination Port           0
Unit quantity           1540
Weight                  1540
minm_wgh_qty            9215
max_wgh_qty             9215
svc_cd                  9215
minimum cost            9215
rate                    9215
mode_dsc                9215
Carrier type            9215
dtype: int64

,Order ID,Origin Port,Carrier,TPT,Service Level,Ship ahead day count,Ship Late Day count,Customer,Product ID,Plant Code,Destination Port,Unit quantity,Weight,minm_wgh_qty,max_wgh_qty,svc_cd,minimum cost,rate,mode_dsc,Carrier type
0,1447296446.7,PORT09,V44_3,1,CRF,3.0,0.0,V55555_53,1700106.0,PLANT16,PORT09,808.0,14.3,N/A,N/A,N/A,N/A,N/A,N/A,N/A
1,1447158014.7,PORT09,V44_3,1,CRF,3.0,0.0,V55555_53,1700106.0,PLANT16,PORT09,3188.0,87.94,N/A,N/A,N/A,N/A,N/A,N/A,N/A
2,1447138898.7,PORT09,V44_3,1,CRF,3.0,0.0,V55555_53,1700106.0,PLANT16,PORT09,2331.0,61.2,N/A,N/A,N/A,N/A,N/A,N/A,N/A
3,1447363527.7,PORT09,V44_3,1,CRF,3.0,0.0,V55555_53,1700106.0,PLANT16,PORT09,847.0,16.16,N/A,N/A,N/A,N/A,N/A,N/A,N/A
4,1447363980.7,PORT09,V44_3,1,CRF,3.0,0.0,V55555_53,1700106.0,PLANT16,PORT09,2163.0,52.34,N/A,N/A,N/A,N/A,N/A,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1535,N/A,PORT03,V444_8,0,N/A,N/A,N/A,N/A,N/A,N/A,PORT09,N/A,N/A,0.0,99.99,DTD,29.3392,0.4116,AIR,V88888888_0
1536,N/A,PORT03,V444_8,0,N/A,N/A,N/A,N/A,N/A,N/A,PORT09,N/A,N/A,500.0,1999.99,DTD,29.3392,0.3112,AIR,V88888888_0
1537,N/A,PORT03,V444_8,0,N/A,N/A,N/A,N/A,N/A,N/A,PORT09,N/A,N/A,250.0,499.99,DTD,29.3392,0.4116,AIR,V88888888_0
1538,N/A,PORT03,V444_8,0,N/A,N/A,N/A,N/A,N/A,N/A,PORT09,N/A,N/A,2000.0,99999.99,DTD,29.3392,0.3112,AIR,V88888888_0
1539,N/A,PORT03,V444_8,0,N/A,N/A,N/A,N/A,N/A,N/A,PORT09,N/A,N/A,100.0,249.99,DTD,29.3392,0.4116,AIR,V88888888_0

### We currently have two aggregated data. 
### 1. merged_plants_data which is a combination of the plants and warehouse data.
### 2. order_freight_rates which is the combination of order list and freight rates.
### We will save both as separate csv files to be used later.

In [132]:
merged_plants_data.to_csv('plants_data.csv', index=False)
order_freight_rates.to_csv('order_freight_rates.csv', index=False)